* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main-page {
  background-image: url(/img/large/bg.jpg);
  height: 100vh;
  background-size: cover;
  position: relative; }

.img__girl {
  position: absolute;
  height: 100vh; }

.img__leaf-1 {
  position: absolute;
  height: 100vh; }

.img__leaf-2 {
  position: absolute;
  height: 100vh; }

.img__circle-1 {
  position: absolute;
  height: 100vh; }

.img__circle-2 {
  position: absolute;
  height: 100vh; }

.title__main {
  font-size: 86px;
  color: white;
  position: absolute;
  top: 40vh;
  left: 60vw; }
